#greta {
    position: absolute;
    left: 200px;
    top: 10px;
}
#trump {
    position: absolute;
    top: 10px;
    left: 910px;
}
#canvas {
    position: absolute;
    background: url('background.jpg');
    top: 140px;
    left: 200px;
    align-items: center;
}
#p1 {
    position: absolute;
    left: 20px;
    top: 800px;
    font-size: 12px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#p2 {
    position: absolute;
    left: 20px;
    top: 814px;
    font-size: 12px;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#title {
    position: absolute;
    top: -60px;
    left: 360px;
    font-size: 75px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: teal;
    width: 500px;
    height: 120px;
    text-align: center;
}
#button {
    position: absolute;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    background-color: coral;
    border: 2px solid white;
    color: white;
    text-align: center;
    top: 150px;
    left: 20px;
    width: 160px;
    height: 100px;
}
#button:hover {
    background-color: white;
    color:coral;
    border: 2px solid coral;
}
#instructions1, #instructions2, #instructions3, #instructions4, #instructions5, #instructions6 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    position: absolute;
    left: 20px;
}
#instructions1 {
    top: 245px;
    font-size: 20px;
}
#instructions2 {
    top: 277px;
    font-size: 15px;
} 
#instructions3 {
    top: 294px;
    font-size: 15px;
}
#instructions4 {
    top: 311px;
    font-size: 15px;
}
#instructions5 {
    top: 328px;
    font-size: 15px;
}
#instructions6 {
    top: 345px;
    font-size: 15px;
}
#timer {
    position: absolute;
    top: 120px;
    left: 750px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(255, 127, 80, 0.384);
    font-size: 30px;
    color:white;
    border: 2px solid rgba(253, 253, 253, 0.733);
}
#bin {
    width: 146.6;
    height: 252.6;
}
#scorescreen {
    position: absolute;
    top: 150px;
    left: 250px;
    font-size: 50px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgba(255, 127, 80, 0.466);
    color: white;
}